<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book</title>
</head>
<body>
    <%- include('./partials/Navbar') %>
    <h2>Add New Book</h2>
    <% if (errors) { %>
        <% errors.split(',').forEach((e) => { %>
            <p style="color: red;"><%= e %></p>
        <% }) %>
    <% } %>
    <form action="/books/add" method="post">
        <label for="">Name</label><br>
        <input type="text" name="name"><br><br>
        <label for="">Genre</label><br>
        <select name="genre" id="">
            <option value="">-- Pilih Genre --</option>
            <option>Fiksi</option>
            <option>Non-Fiksi</option>
            <option>Anak-Anak</option>
            <option>Komik</option>
        </select><br><br>
        <label for="">Stock</label><br>
        <input type="number" name="stock"><br><br>
        <select name="AuthorId" id="">
            <option value="">-- Pilih Author --</option>
            <% authors.forEach((e) => { %>
                <option value="<%= e.id %>"><%= e.name %></option>
            <% }) %>
        </select><br><br>
        <button>Submit</button>
    </form>
</body>
</html>