<%- include('./partials/TableStyling', { title: 'Authors Data' }) %>
<body>
    <%- include('./partials/Navbar') %>
    <h1>Authors</h1>
    <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
        <% data.forEach((e) => { %>
            <tr>
              <td><%= e.id %></td>
              <td><%= e.name %></td>
            </tr>
        <% }) %>
      </table>
</body>
</html>